//
//  SMUrlBase.h
//  sosmessage
//
//  Created by Arnaud K. on 14/11/11.
//  Copyright (c) 2011 ArnkFoundation. All rights reserved.
//

#import <Foundation/Foundation.h>

#define SM_URL @"http://www.dummyurl.fr"

#define SM_ABOUT @"http://www.aketomic.com/redirect/apps"
#define SM_TWITTER @"https://twitter.com/sosmessage"
#define SM_EMAIL @"contact@aketomic.com"
#define SM_APP_URL @"http://itunes.apple.com/fr/app/sos-message-de-carte/id492273436?mt=8&uo=4"

@protocol SMUrlBase <NSObject>

@end
