//
//  SMUrlBase.h
//  sosmessage
//
//  Created by Arnaud K. on 14/11/11.
//  Copyright (c) 2011 ArnkFoundation. All rights reserved.
//

#import <Foundation/Foundation.h>

#define SM_URL @"http://www.dummyurl.fr"

#define SM_ABOUT @"http://www.aketomic.com/redirect/apps"
#define SM_EMAIL @"contact@aketomic.com"
#define SM_TWITTER @"https://www.twitter.com/sosmessage"
#define AKETOMIC_TWITTER @"https://www.twitter.com/aketomic"
#define LISE_TWITTER @"https://www.twitter.com/lkemen"
#define SM_APP_URL @"https://itunes.apple.com/us/app/sosmessages/id635646488?ls=1&mt=8"

@protocol SMUrlBase <NSObject>

@end
